/* * {
    margin: 0;
} */

body {
    margin: 0;
    padding: 0 10px 0 10px;
    background-color: #111111;
    font-family: Inter;
    color: white;
}

hr {
    border-width: 0.5px;
    margin-bottom: 30px;
}

main {
    max-width: 1000px;
    margin: auto;
}



/* --------- Header ------------*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 10px 0;
}

.header__btn--site-title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    transition: ease-out;
}

.header__btn--site-title:hover {
    cursor: pointer;
}

.header__btn--site-title:active {
    filter: opacity(80%);
}

.header__btn--open-account-window {
    border: none;
    background: none;
}

.header__img--open-acount-window {
    fill: white;
    transition: 0.15s;
    opacity: 0.7;
}

.header__img--open-acount-window:hover {
    cursor: pointer;
    opacity: 1;
}

.header__img--open-acount-window:active {
    filter: opacity(80%);
}


.popup--account {
    position: fixed;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    top: 0;
    left: 0;
    transition: 0.15s all;
    opacity: 0;
}

.popup--account.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.15 all;
}

.popup--account-content {
    position: absolute;
    width: 170px;
    top: 70px;
    background-color: #1B1B1B;
    border-radius: 15px;
    padding: 0 15px;
    text-align: center;
    padding-top: 30px;
}

.popup--account-content hr {
    margin-bottom: 20px;
    margin-top: 20px;
}

.popup--account-content .popup__text--account-name {
    font-size: 18px;
    display: block;
}

.popup--account-content .popup__text--account-logout {
    display: block;
    margin-bottom: 30px;
    font-size: 18px;
    opacity: 0.6;
    transition: 0.15s;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.popup--account-content .popup__text--account-logout:hover {
    opacity: 1;
}

.popup--account-content .popup__text--account-logout:active {
    scale: 0.99;
    opacity: 0.85;
}

/* --------- Body --------- */

.date-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.date-selector__btn--arrow {
    stroke: white;
    opacity: 0.6;
    transition: ease-out;
    transition-duration: 250ms;
}

.date-selector__btn--arrow:hover {
    opacity: 1;
    cursor: pointer;
}

.input:-webkit-autofill,
.input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s;
}

.btn--date-picker {
    background: none;
    border-color: none;
    text-align: center;
    font-family: "Inter", sans-serif;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 200;
    opacity: 0.6;
    transition: 0.15s;
}

.btn--date-picker:hover {
    cursor: pointer;
    opacity: 1;
}

.btn--date-picker:focus {
    outline: none;
    opacity: 1;
    width: auto;
    cursor: text;
}



/* ------------ Calendar ------------ */

.ui-datepicker {
    font-family: "Inter", sans-serif;
    border-radius: 15px;
    background: #333333;
    width: 17em;
    color: white;
    border: none;
    padding: 15px;
}

.ui-datepicker table {
    margin: 0;
}

.ui-widget.ui-widget-content {
    border: none;
}

.ui-datepicker-header {
    background: transparent;
    border: none;
    color: white;
    font-weight: 300;
}

.ui-widget-header .ui-icon {
    background-image: url(none);
}

.ui-datepicker-prev {
    color: white;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2211%22%20height%3D%2219%22%20viewBox%3D%220%200%2011%2019%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M9.70715%200.353554L0.707153%209.35355L9.70715%2018.3536%22%20stroke%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E%0A") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    transition: 0.15s;
    opacity: 0.65;
}

.ui-datepicker-next  {
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2211%22%20height%3D%2219%22%20viewBox%3D%220%200%2011%2019%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M0.353516%200.353554L9.35352%209.35355L0.353516%2018.3536%22%20stroke%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E%0A") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    transition: 0.15s;
    opacity: 0.65;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    width: 32px;
    height: 32px;
}

.ui-datepicker .ui-datepicker-prev-hover {
    top: 2px;
    left: 2px;
}


.ui-datepicker .ui-datepicker-next-hover {
    top: 2px;
    right: 2px;
}

.ui-widget-content .ui-state-hover {
    border: none;
    opacity: 1;
    background: inherit;
    cursor: pointer;
    box-sizing: border-box;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active
{
    border: none;
    background: none;
    color: white;
}

.ui-datepicker th {
    color: #a5a5a5;
}

.ui-datepicker td {
    padding: 2px 0 2px 0px;
    background: none;
    border: none;
}

.ui-datepicker td a {
    text-align: center;
    border-radius: 50%;
    padding: 10px;
    transition: 0.15s;
}

.ui-datepicker td a:hover {
    background: white;
    color: black
}

.ui-datepicker .ui-state-active {
    background: #fff !important;
    color: #000 !important;
    border-radius: 50%;
}



/* ------ Amount of Tasks ------ */

.amount-of-tasks {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
}

.amount-of-tasks span {
    position: absolute;
    font-weight: 200;
    color: #FDFDFD
}

.btn--add-task {
    margin-left: auto;
}

.amount-of-tasks svg {
    margin-left: auto;
    stroke: white;
    opacity: 0.6;
    transition: 0.15s;
}

.amount-of-tasks svg:hover {
    opacity: 1;
    cursor: pointer;
}

.task {
    display: flex;
    margin-bottom: 10px;
    height: 45px;
    background-color: #242424;
    border-radius: 17px;
    padding-left: 15px;
    transition: 0.3s, scale 0.15s;
    box-sizing: border-box;
    cursor: default;
    align-items: center;
    justify-content: center;
    position: relative;
}

.task-is-deleted {
    transform: scale(0);
}

.task:hover {
    scale: 101%;
}

.btn--trash-bin {
    fill: white;
    transition: 0.15s;
    opacity: 0.7;
    position: absolute;
    right: 20px;
}

.btn--trash-bin:hover {
    cursor: pointer;
    opacity: 1;
}

.btn--trash-bin:active {
    filter: opacity(80%);
}

.task h3 {
    font-size: 18px;
    font-weight: 400;
}

.taskIsDone {
    background-color: #62a856;
}

/* .task input[type="checkbox"] {
    appearance: none;
    width: 1.3rem;
    height: 1.3rem;
    border: solid white 2px;
    border-radius: 2px;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.task input[type="checkbox"]:checked {
    background-image: url(images/mark.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.task input[type="checkbox"]:focus {
    outline: none;
    box-shadow: 0 0 0 0.16rem #5c5c5c;
}

.task input[type="checkbox"]:hover:not(:disabled) {
    border-color: #d7d7d7;
}

.task input {
    margin-right: auto;
} */



/* ---- Add Task Window ---- */

.popup--add-task {
    /* display: none; */
    position: fixed;
    transition: 0.15s all;
    pointer-events: none;
    opacity: 0;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.popup--add-task.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.15s all;
}

.popup--add-task-content {
    position: absolute;
    width: 500px;
    height: 410px;
    top: 160px;
    background-color: #181818;
    justify-self: center;
    border-radius: 20px;
    padding: 30px;
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
}

.popup--add-task h2 {
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 40px;
}

.popup--add-task p {
    margin-bottom: 10px;
}

.popup__fields--add-task div {
    margin-bottom: 30px;
}

.popup__fields--add-task input {
    opacity: 0.5;
    transition: 0.15s;
}

.popup__fields--add-task input:hover {
    opacity: 1;
}

.popup__fields--add-task input:focus {
    opacity: 1;
}

.popup__fields--add-task input:focus {
    outline: none;
}

.popup__fields--add-task input {
    width: 100%;
    height: 50px;
    background: none;
    border: solid white 1px;
    border-radius: 10px;
    color: white;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
}

.popup__fields--add-task input::placeholder {
    color: white;
    font-family: "Inter", sans-serif;
}

.popup--add-task .popup__btns--add-task {
    display: flex;
}

.popup__btns--add-task button {
    width: 100%;
    height: 40px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: white;
    color: black;
    border: none;
    border-radius: 10px;
    margin-bottom: 25px;
}

.popup__btn--add-task-cancel {
    margin-right: 15px;
}

.popup__btns--add-task button:hover {
    cursor: pointer;
}

.popup__btns--add-task button:active {
    opacity: 0.899;
}



/* ---- Registration Form and Common Fields ---- */

.registrationMain {
    max-width: 315px;
    margin: auto;
    margin-top: 100px;
}

.registrationText h1 {
    font-size: 60px;
}

.registrationText {
    margin-bottom: 25px;
}

.registrationMain h3 {
    font-weight: 350;
    font-size: 20px;
    margin-bottom: 20px;
}

.registrationField input {
    width: 100%;
    background: none;
    height: 50px;
    margin-bottom: 15px;
    border: solid white 1px;
    border-radius: 10px;
    opacity: 0.5;
    color: white;
    padding: 0 20px 0 20px;
    transition: 0.15s;
    box-sizing: border-box;
}

.registrationField input:hover {
    opacity: 1;
}

.registrationField input:focus {
    opacity: 1;
    outline: none;
}

.registrationField input::placeholder {
    color: white;
    font-family: "Inter", sans-serif;
}

.registrationButton {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    background: white;
    color: black;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin-bottom: 25px;
}

.registrationButton:hover {
    cursor: pointer;
}

.registrationButton:active {
    opacity: 0.899;
}

.registrationLink {
    text-align: center;
}

.registrationLink a {
    color: white;
    text-decoration: none;
    opacity: 0.8;
    transition: 0.15s;
}

.registrationLink a:hover {
    opacity: 1;
}