body {
    margin: 0;
    padding: 0 10px 0 10px;
    background-color: #111111;
    font-family: Inter;
    color: white;
}

hr {
    border-width: 0.5px;
    margin-bottom: 30px;
}

main {
    max-width: 1000px;
    margin: auto;
}

/* --------- Header ------------*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 10px 0;
}

.header__btn--site-title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    transition: ease-out;
}

.header__btn--site-title:hover {
    cursor: pointer;
}

.header__btn--site-title:active {
    filter: opacity(80%);
}

.header__btn--open-account-window {
    border: none;
    background: none;
}

.header__img--open-acount-window {
    fill: white;
    transition: 0.15s;
    opacity: 0.7;
}

.header__img--open-acount-window:hover {
    cursor: pointer;
    opacity: 1;
}

.header__img--open-acount-window:active {
    filter: opacity(80%);
}

.popup--account-window {
    position: absolute;
    width: 170px;
    top: 70px;
    background-color: #1B1B1B;
    border-radius: 15px;
    padding: 0 15px;
    text-align: center;
    padding-top: 30px;
}

.popup--account-window__line {
    margin-bottom: 20px;
    margin-top: 20px;
}

.popup--account-window__text--account-name {
    font-size: 18px;
    display: block;
}

.popup--account-window__text--logout {
    display: block;
    margin-bottom: 30px;
    font-size: 18px;
    opacity: 0.6;
    transition: 0.15s;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.popup--account-window__text--logout:hover {
    opacity: 1;
}

.popup--account-window__text--logout:active {
    scale: 0.99;
    opacity: 0.85;
}

/* --------- Body --------- */

.date-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.date-selector__btn--arrow {
    stroke: white;
    opacity: 0.6;
    transition: ease-out;
    transition-duration: 250ms;
}

.date-selector__btn--arrow:hover {
    opacity: 1;
    cursor: pointer;
}

.input:-webkit-autofill,
.input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s;
}

.date-selector__btn--date-picker {
    background: none;
    border-color: none;
    text-align: center;
    font-family: "Inter", sans-serif;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 200;
    opacity: 0.6;
    transition: 0.15s;
}

.date-selector__btn--date-picker:hover {
    cursor: pointer;
    opacity: 1;
}

.date-selector__btn--date-picker:focus {
    outline: none;
    opacity: 1;
    width: auto;
    cursor: text;
}



/* ------------ Calendar ------------ */

.ui-datepicker {
    font-family: "Inter", sans-serif;
    border-radius: 15px;
    background: #333333;
    width: 17em;
    color: white;
    border: none;
    padding: 15px;
}

.ui-datepicker table {
    margin: 0;
}

.ui-widget.ui-widget-content {
    border: none;
}

.ui-datepicker-header {
    background: transparent;
    border: none;
    color: white;
    font-weight: 300;
}

.ui-widget-header .ui-icon {
    background-image: url(none);
}

.ui-datepicker-prev {
    color: white;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2211%22%20height%3D%2219%22%20viewBox%3D%220%200%2011%2019%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M9.70715%200.353554L0.707153%209.35355L9.70715%2018.3536%22%20stroke%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E%0A") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    transition: 0.15s;
    opacity: 0.65;
}

.ui-datepicker-next  {
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2211%22%20height%3D%2219%22%20viewBox%3D%220%200%2011%2019%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M0.353516%200.353554L9.35352%209.35355L0.353516%2018.3536%22%20stroke%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E%0A") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    transition: 0.15s;
    opacity: 0.65;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    width: 32px;
    height: 32px;
}

.ui-datepicker .ui-datepicker-prev-hover {
    top: 2px;
    left: 2px;
}


.ui-datepicker .ui-datepicker-next-hover {
    top: 2px;
    right: 2px;
}

.ui-widget-content .ui-state-hover {
    border: none;
    opacity: 1;
    background: inherit;
    cursor: pointer;
    box-sizing: border-box;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active
{
    border: none;
    background: none;
    color: white;
}

.ui-datepicker th {
    color: #a5a5a5;
}

.ui-datepicker td {
    padding: 2px 0 2px 0px;
    background: none;
    border: none;
}

.ui-datepicker td a {
    text-align: center;
    border-radius: 50%;
    padding: 10px;
    transition: 0.15s;
}

.ui-datepicker td a:hover {
    background: white;
    color: black
}

.ui-datepicker .ui-state-active {
    background: #fff !important;
    color: #000 !important;
    border-radius: 50%;
}



/* ------ Amount of Tasks ------ */

.task-list__block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
}

.task-list__btn--add-task__img {
    margin-left: auto;
    stroke: white;
    opacity: 0.6;
    transition: 0.15s;
}

.task-list__btn--add-task__img:hover {
    opacity: 1;
    cursor: pointer;
}

.task-list--amount-of-tasks {
    position: absolute;
    font-weight: 200;
    color: #FDFDFD
}

.task-list__btn--add-task {
    margin-left: auto;
}

.task-list__task {
    display: flex;
    margin-bottom: 10px;
    height: 45px;
    background-color: #242424;
    border-radius: 17px;
    padding-left: 15px;
    transition: 0.3s, scale 0.15s, transform 0.3s;
    box-sizing: border-box;
    cursor: default;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: scale(1);
    opacity: 1;
}

.task-list__task.is-hidden{
    transform: scale(0);
    opacity: 0;
}

.task-list__task__text {
    font-size: 18px;
    font-weight: 400;
}

.task-list__task:hover {
    transform: scale(1.01);
}

.task-list__task.is-deleted {
    transform: scale(0);
}

.task-list__task.is-done {
    background-color: #62a856;
}

.task-list__btn--trash-bin {
    fill: white;
    transition: 0.15s;
    opacity: 0.7;
    position: absolute;
    right: 20px;
}

.task-list__btn--trash-bin:hover {
    cursor: pointer;
    opacity: 1;
}

.task-list__btn--trash-bin:active {
    filter: opacity(80%);
}

/* ---- Add Task Window ---- */

.popup {
    position: fixed;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    top: 0;
    left: 0;
    transition: 0.15s all;
    opacity: 0;
}

.popup.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.15 all;
}

.popup--add-task-bg {
    background: rgba(0, 0, 0, 0.5);
}

.popup--add-task {
    position: absolute;
    width: 500px;
    height: auto;
    top: 160px;
    background-color: #181818;
    justify-self: center;
    border-radius: 20px;
    padding: 30px;
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
}

.popup--add-task__title {
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 40px;
}

.popup--add-task__text {
    margin-bottom: 10px;
}

.popup--add-task__field {
    margin-bottom: 30px;
}

.popup--add-task__field__input {
    opacity: 0.5;
    transition: 0.15s;
    width: 100%;
    height: 50px;
    background: none;
    border: solid white 1px;
    border-radius: 10px;
    color: white;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.popup--add-task__field__input:hover {
    opacity: 1;
}

.popup--add-task__field__input:focus {
    opacity: 1;
}

.popup--add-task__field__input:focus {
    outline: none;
}

.popup--add-task__field__input::placeholder {
    color: white;
    font-family: "Inter", sans-serif;
}

.popup--add-task__btns-container {
    display: flex;
}

.popup--add-task__btn {
    width: 100%;
    height: 40px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: white;
    color: black;
    border: none;
    border-radius: 10px;
    margin-bottom: 25px;
}

.popup--add-task__btn:hover {
    cursor: pointer;
}

.popup--add-task__btn:active {
    opacity: 0.899;
}

.popup--add-task__btn--cancel {
    margin-right: 15px;
}





/* ---- Registration Form and Common Fields ---- */

.registration {
    max-width: 315px;
    margin: auto;
    margin-top: 100px;
}

.registration__title__text {
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
}

.registration__title {
    margin-bottom: 25px;
}

.registration__field {
    margin-bottom: 10px;
}

.registration__text {
    font-weight: 350;
    font-size: 20px;
    margin-bottom: 20px;
}

.registration__text--error {
    color: rgb(229, 90, 92);
    font-size: 14px;
    display: block;
}

.registration__input {
    width: 100%;
    background: none;
    height: 50px;
    margin-bottom: 5px;
    border: solid white 1px;
    border-radius: 10px;
    opacity: 0.5;
    color: white;
    padding: 0 20px 0 20px;
    transition: 0.15s;
    box-sizing: border-box;
}

.registration__input:hover {
    opacity: 1;
}

.registration__input:focus {
    opacity: 1;
    outline: none;
}

.registration__input::placeholder {
    color: white;
    font-family: "Inter", sans-serif;
}

.registration__btn {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    background: white;
    color: black;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin-bottom: 25px;
}

.registration__btn:hover {
    cursor: pointer;
}

.registration__btn:active {
    opacity: 0.899;
}

.registration__link {
    text-align: center;
}

.registration__link__text {
    color: white;
    text-decoration: none;
    opacity: 0.8;
    transition: 0.15s;
}

.registration__link__text:hover {
    opacity: 1;
}